# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/
index1.php
user/
record/
temp/
tmp/
*.iml
out
gen
/vendor/
/configs/
/tests/
config
/conf/user*.ini
*.log
Traits/
README1.md
conf/user.ini
conf/user1.ini
/conf/user.ini
/conf/test.ini
/conf/test1.ini
/log/
/src/backup/
script.php

# ignore all files in lib/
task/*
cache/*
# except for .gitkeep
!.gitkeep
# ignore TODO file in root directory,not subdir/TODO
/TODO
/Todo

