# IntelliJ project files
.idea
.idea/
temp/
tmp/
*.iml
out
gen

# except for .gitkeep
!.gitkeep
# ignore TODO file in root directory,not subdir/TODO

/TODO
/Todo
/backup
/vendor
.worktrees/
/build/
/reference/
/tools/local/

# 保留忽略目录下的指定文件夹
/profile/*
!/profile/example

.phpunit.*
captcha/data.json

plugin/FansMedalIntimacy/
