# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/
temp/
tmp/
*.iml
out
gen
composer.lock
#Traits/
README1.md

script.php
test.php
index1.php

# ignore all files in lib/

# except for .gitkeep
!.gitkeep
# ignore TODO file in root directory,not subdir/TODO

/TODO
/Todo
/backup
/vendor

# 保留忽略目录下的指定文件夹
/profile/*
!/profile/example

.phpunit.*
